* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}

.post__btns {
    margin-left: 10px;
    display: flex;
    gap: 8px;
}

.post-enter {
    transform: translate(-350px);
}

.post-enter-active {
    transform: translate(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translate(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid teal;
    border-radius: 50%;
    cursor: pointer;
}

.page__current {
    border: 2px solid orangered;
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 100vw;
    height: 50px;
    background: lightgray;
}

.navbar__links {
    margin-left: auto;
}